.footer {
  &__endline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 20px 0;
    color: var(--color-light);
    background-color: var(--color-dark);
  }
  &__endline-link {
    color: inherit;
    margin-bottom: 10px;
  }
  &__copyright {
    text-align: center;
  }
}
