<header class="header header--main">
  <nav class="nav header__nav">
    <ul class="nav__list list-reset" data-menu>
      <li class="nav__item"><a href="/" class="nav__link">Главная</a></li>
      <li class="nav__item"><a href="/contacts.html" class="nav__link">Контакты</a></li>
      <li class="nav__item"><a href="/about.html" class="nav__link">О нас</a></li>
      <li class="nav__item"><a href="/oplata.php" class="nav__link">Оплата</a></li>
    </ul>
    <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
    </button>
  </nav>
</header>
